* {
    user-select: none;
  }

  body {
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .bodyCal {
    border: solid 3px #6d6d6d;
    border-radius: 15px;
    width: 320px;
    padding-bottom: 20px;
  }

  #show {
    height: 90px;
    width: 300px;
    border: solid 4px rgba(0, 0, 0, 0.445);
    border-radius: 15px;
    margin: 17px auto 0 auto;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    text-align: left;
    background-color: #1d1d1d;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    caret-color: transparent;
    display: block;
  }

  button {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    background-color: #303030;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
  }

  button:hover {
    transform: scale(1.1);
    color: #00bfff;
    border: solid 2px white;
  }

  .operator {
    background-color: #b35a25;
  }

  .btn-row {
    display: flex;
    justify-content: center;
  }